@typeparam T
@using WebClient.Abstractions

@inject IDragAndDropService DragAndDropService
<div ondragover="event.preventDefault()" @ondrop="@OnDrop">
    @ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    //public string Zone { get; set; }
    public Guid Zone { get; set; }

    [Parameter]
    public Action<Guid> Drop { get; set; }

    void OnDrop()
    {
        DragAndDropService.Accepts(Zone, (Guid)DragAndDropService.Data);
        //if (Drop != null && DragAndDropService.Accepts(Zone, (Guid)DragAndDropService.Data))
        //{
        //    Drop((Guid)DragAndDropService.Data);
        //}
    }
}